.card {
    flex-basis: 30%;
    margin: 1rem;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 20rem;
    height: 20rem;
    border: solid 1px crimson;
}